@model SubCategoryViewModel
@{
}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Altkategoriya /</span> Edit View</h4>
        <div class="card">
            <div class="card-body">
                <!-- Admin SubCategory  Edit Start -->
                <section style="margin-top: 10px;" id="createPoster">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class=" formBox  col-lg-8 col-md-12 col-sm-12 ">
                                <h1>Elanı redaktə etmək</h1>

                                <form class="form-control" asp-action="edit" asp-controller="SubCategory" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="SubCategory.Id" value="@Model.SubCategory.Id" />

                                    <!-- SubCategory Name  Start -->
                                    <div class="mb-3 posterName">
                                        <label asp-for="SubCategory.Name" class="form-label">Elanın adı*</label>
                                        <input asp-for="SubCategory.Name" maxlength="50" type="text" class="form-control">
                                        <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
                                    </div>
                                    <!-- SubCategory Name   End -->
                                    <!-- SubCategory Start -->
                                    <div class="mb-3 posterSubCategorys">
                                        <label class="form-label">Şəhər</label>
                                        <span asp-validation-for="SubCategory.CategoryId" class="text-danger"></span>

                                        <select asp-for="SubCategory.CategoryId" class="form-select">
                                            @foreach (var category in Model.Categories)
                                            {
                                                <option selected="selected" value="@category.Id">@category.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <!--  SubCategory End -->
                                    <!-- Button  Start -->
                                    <div class="row d-flex justify-content-end mb-3">
                                        <div class="col mb-1">
                                            <a style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " asp-action="index" asp-controller="SubCategory" class="btn  btn-dark">Geri dön</a>
                                        </div>
                                        <div class="col mb-1 posterButton ms-2 ">
                                            <button style=" height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; " type="submit" class="btn  btn-primary">Düzənləmək</button>
                                        </div>
                                    </div>
                                    <!-- Button  Start -->
                                </form>

                            </div>

                        </div>
                    </div>
                </section>
                <!--  Admin SubCategory  Edit  End -->

            </div>
        </div>
    </div>
    <!-- / Content -->
</div>



@section Scripts{

}