
@{
    ViewData["Title"] = "NumberAuthentication";
    Layout = null;
}
<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
              integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/assets/styles/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="shortcut icon" href="~/assets/Images/quenIcon.png" type="image/x-icon" />
        <title>Kod Doğrulama</title>

    </head>


    <main>
        <!-- Authentication Start -->
        <section id="authentication">
            <div class="container">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-11 col-md-7 col-lg-5 col-xl-4">
                        <div class="card shadow-2-strong">
                            <div class="card-body p-5 text-center">
                                <a href="main.html" class="btn backBtn "><i class=" fa-solid fa-chevron-left"></i></a>

                                <!-- <button class="btn backBtn "><i class=" fa-solid fa-chevron-left"></i></button> -->
                                <h3 class="mb-3">Kod doğrulama</h3>
                                <form asp-action="">
                                    <div class="form-outline mb-1">
                                        <input placeholder="******" maxlength="6" type="text" pattern="[0-9]*"
                                               autocomplete="off" class="form-control " />
                                    </div>
                                    <div class="form-outline mb-1">
                                        @*<span id="time" class="timer"></span>*@
                                        <div id="container">
                                            <div id="inputArea">
                                            </div>

                                            <h1 id="time">0:00</h1>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                                        Göndər
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Authentication End -->
    </main>


    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <script>
        var secondsRemaining;
        var intervalHandle;

        function resetPage() {

            document.getElementById("inputArea").style.display = "block";

        }

        function tick() {
            // grab the h1
            var timeDisplay = document.getElementById("time");

            // turn the seconds into mm:ss
            var min = Math.floor(secondsRemaining / 60);
            var sec = secondsRemaining - (min * 60);

            //add a leading zero (as a string value) if seconds less than 10
            if (sec < 10) {
                sec = "0" + sec;
            }

            // concatenate with colon
            var message = min.toString() + ":" + sec;

            // now change the display
            timeDisplay.innerHTML = message;

            // stop is down to zero
            if (secondsRemaining === 0) {
                alert("Done!");
                clearInterval(intervalHandle);
                resetPage();
            }

            //subtract from seconds remaining
            secondsRemaining--;

        }

        function startCountdown() {

            function resetPage() {
                document.getElementById("inputArea").style.display = "block";
            }

            // get countents of the "minutes" text box
            var minutes = 5;

            // check if not a number
            if (isNaN(minutes)) {
                alert("Please enter a number");
                return; // stops function if true
            }

            // how many seconds
            secondsRemaining = minutes * 60;

            //every second, call the "tick" function
            // have to make it into a variable so that you can stop the interval later!!!
            intervalHandle = setInterval(tick, 1000);

            // hide the form
            document.getElementById("inputArea").style.display = "none";


        }

        //window.onload = function () {

        //    // create input text box and give it an id of "min"
        //    var inputMinutes = document.createElement("input");
        //    inputMinutes.setAttribute("id", "minutes");
        //    inputMinutes.setAttribute("type", "text");

        //    //create a button
        //    var startButton = document.createElement("input");
        //    startButton.setAttribute("type", "button");
        //    startButton.setAttribute("value", "Start Countdown");
        //    startButton.onclick = function () {
        //        startCountdown();
        //    };

        //    //add to the DOM, to the div called "inputArea"
        //    document.getElementById("inputArea").appendChild(inputMinutes);
        //    document.getElementById("inputArea").appendChild(startButton)

        //}
    </script>
</body>