
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- Bread Crumb  Start -->
    <section class="secDisplay" id="breadCrumbs">
        <div class="casket">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-9 col-sm-9 col-9 ">
                    <div class="breadCrumbBox">
                        <ul>
                            <li>
                                <a asp-action="index" asp-controller="anasehife">
                                    <span>
                                        Ana Səhifə
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="index" asp-controller="istifadecisertleri">
                                    <span>
                                        İstifadəçi şərtləri
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Bread Crumb End -->
    <!-- userTerm   Start -->
    <section id="userTerm">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 col-sm-12 userTermTitle">
                    <h1>İstifadəçi şərtləri</h1>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 userTermBody">

                    <nav class="userTermActions800 mb-3">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                    aria-selected="true">
                                1. Ümumi şərtlər
                            </button>

                            <button class="nav-link v-pills-profile-tab" id="v-pills-profile-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab"
                                    aria-controls="v-pills-profile" aria-selected="false">
                                2. Servisdən istifadə.
                                Elanların yerləşdirilməsi
                            </button>

                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">
                                3. Ödənişli
                                xidmətlər
                            </button>
                        </div>
                    </nav>
                    <div class=" d-flex align-items-start">
                        <div class="userTermActions col-lg-3 col-md-3 ">
                            <div class=" nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                                 aria-orientation="vertical">
                                <div id="test" class=""></div>
                                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-home" type="button" role="tab"
                                        aria-controls="v-pills-home" aria-selected="true">
                                    1. Ümumi şərtlər

                                </button>
                                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-profile" type="button" role="tab"
                                        aria-controls="v-pills-profile" aria-selected="false">
                                    2. Servisdən istifadə.
                                    Elanların yerləşdirilməsi
                                </button>

                                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-settings" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">
                                    3. Ödənişli
                                    xidmətlər
                                </button>
                            </div>
                        </div>
                        <div class="userTermActionsBody800 col-lg-9 col-md-9 col-sm-12 ">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                     aria-labelledby="v-pills-home-tab" tabindex="0">
                                    Bu Razılaşma AXTARIS.AZ
                                    Saytının
                                    İstifadəçiləri tərəfindən istifadə şərtlərini müəyyən edir.
                                    <br>
                                    1.2. Həmin İstifadəçi Razılaşmanın məqsədləri üçün aşağıda göstərilən terminlər
                                    və
                                    təyinlər aşağıdakı mənada tətbiq olunur:
                                    <br>
                                    Servis – İnternet şəbəkəsində AXTARIS.AZ saytında yerləşdirilmiş
                                    İnternet-resursu
                                    (sayt), saytın, əlavələrin və başqa xidmətlərin dizaynı (qrafiki tərtibatı),
                                    məlumat
                                    bazası, xidmətlərin istənilən bölməsi (yarımbölmələri), həmçinin xidmətlərdə
                                    Administrasiya və İstifadəçilər tərəfindən yerləşdirilmiş informasiyadır.
                                    Administrasiya – Saytın rəhbəri və Servisin inzibatçılığını həyata keçirən
                                    adminlərdir.
                                    İstifadəçi – razılaşma şərtlərini qəbul etmiş və Servis xidmətlərindən istifadə
                                    edən
                                    istənilən hüquqi və ya fiziki şəxsdir.
                                    Profil – bu İstifadəçinin mühitinin İstifadəçi tərəfindən müəyyən edilmiş
                                    (yerləşdirilmiş) məlumatlar və qurmalar məcmusudur. Hər hansı bir İstifadəçinin
                                    yalnız bir profilə malik olmaq hüququ var.
                                    İstifadəçinin şəxsi informasiyası – İstifadəçi haqqında məlumatlardır və ya
                                    məlumatlar məcmusudur ki, İstifadəçi özü haqqında, İstifadəçinin şəxsi
                                    məlumatları,
                                    Servisdən istifadə prosesində Administrasiyaya avtomatik olaraq ötürülən
                                    informasiya, o cümlədən IP-ünvan, cookie-dən informasiya, İstifadəçinin brauzeri
                                    haqqında və İstifadəçi haqqında başqa informasiyalar daxil olmaqla, qeydiyyat
                                    vaxtı
                                    sərbəst və ya Servisdən istifadə prosesində təqdim edir.
                                    İnformasiya – Servisdə İstifadəçi və ya Administrasiya tərəfindən yerləşdirilmiş
                                    istənilən informasiyadır.
                                    Spam – alanlar tərəfindən kütləvi, icazə verilməyən və/və ya gözlənməyən reklam,
                                    informasiya, təşviqat və ya başqa xarakterli poçt və başqa göndərilmələrdir.
                                    Mal – bu məhsul, işlər, xidmətlər, maddi-texniki resurslar, mülki və qeyri-mülki
                                    hüquqlardır.
                                    Bu Razılaşmanın Tərəfləri – Administrasiya və İstifadəçidir.
                                    <br>

                                    1.3. Bu İstifadəçi Razılaşmasında istifadə olunan və “Terminlər və təyinlər”
                                    bəndində əksini tapmayan istənilən terminlər və anlayışlar, İstifadəçi
                                    Razılaşmasının mətnindən yaranan mənaya müvafiq olaraq izah ediləcəkdir.
                                    İstifadəçi
                                    Razılaşmasında istifadə edilən terminin və ya təyinin izah edilməsi barədə
                                    istənilən
                                    fikir ayrılıqlarının yaranması halında Administrasiya tərəfindən müəyyən edilən
                                    izah
                                    etmə tətbiq ediləcəkdir.
                                    <br>
                                    1.4. Servis xidmətlərindən və materiallarından istifadə edilmə qüvvədə olan
                                    qanunvericiliyin normaları, həmçinin də hazırkı Razılaşma ilə tənzimlənir.
                                    <br>
                                    1.5. Hazırkı Razılaşma ictimai ofertadır.

                                    <br>
                                    1.6. Servis xidmətlərindən istifadə edərək, İstifadəçi hazırkı Razılaşmaya
                                    qoşulur
                                    və onun Servis xidmətlərindən istifadə üzrə təlimatlarına riayət etmək
                                    şərtlərini və
                                    öhdəliklərini qəbul edir.
                                    <br>
                                    1.7. Şirkət adından Servisdən istifadə halında belə şirkət hazırkı Razılaşmanı
                                    və
                                    onun şərtlərini qəbul edir.
                                    <br>
                                    1.8. Administrasiya istənilən vaxt birtərəfli qaydada hazırkı Razılaşmanın
                                    şərtlərini dəyişdirmək hüququna malikdir.
                                    <br>
                                    1.9. İstifadəçinin hazırkı Razılaşmanın şərtləri ilə və ya ona daxil edilmiş
                                    dəyişikliklərlə razılaşmadığı halda o Servisə girişdən imtina etməli, Servisin
                                    xidmətlərindən istifadə etməsini dayandırmalıdır.
                                    <br>
                                    1.10. Bununla Administrasiya İstifadəçilərə Servisin xidmətlərindən istifadə
                                    etməklə
                                    elanların yerləşdirilməsi və axtarışı üzrə xidmətləri təklif edir.
                                    <br>
                                    1.11.Ayrı xidmətlərin verilməsi xüsusi qaydalarla və ya razılaşmalarla
                                    tənzimlənə
                                    bilər.
                                    <br>
                                    1.12. İstifadəçi o haqda müddəanı qəbul edir ki, Servisin bütün materialları və
                                    xidmətləri və ya onların istənilən hissəsi reklamla müşayiət oluna bilər.
                                    İstifadəçi
                                    onunla razıdır ki, Administrasiya hər hansı məsuliyyəti daşımır və belə reklamla
                                    əlaqədar hər hansı öhdəlikləri yoxdur.
                                    <br>
                                    1.13. Servisdə qeydiyyat könüllüdür. Servisdə qeydiyyat halında İstifadəçi
                                    Servisin
                                    əlavə xidmətlərinə daxil olur. Administrasiya İstifadəçidən onun qeydiyyat vaxtı
                                    göstərdiyi məlumatların təsdiqlənməsini və təsdiqləyici sənədləri istənilən vaxt
                                    tələb etmək hüququnu öz ayağında saxlayır.
                                    <br>
                                    1.14. İstifadəçi öz parolunu gizli saxlamağı öhdəsinə götürür. İstifadəçi öz
                                    elektron ünvanından və paroldan istifadə ilə hərəkətlərə, həmçinin də
                                    İstifadəçinin
                                    Profilində yerinə yetirilən hərəkətlərə görə məsuliyyət daşıyır. İstifadəçi
                                    Servis
                                    xidmətlərindən yalnız öz şəxsi elektron ünvandan və paroldan istifadə ilə
                                    istifadə
                                    etmək hüququna malikdir. Əgər İstifadəçidə onun Profilinə icazəsiz daxil olma
                                    haqqında şübhələnməyə əsaslar varsa, İstifadəçi öz parolunu sərbəst dəyişməyi
                                    öhdəsinə götürür.
                                    <br>
                                    1.15. Administrasiya İstifadəçilər tərəfindən qeydiyyat və/və ya avtorizasiya
                                    zamanı
                                    verilən informasiyanın düzgünlüyünün yoxlanması üçün xüsusi texniki qərarlardan
                                    istifadə etməkdə haqlıdır.
                                    <br>
                                    1.16. Administrasiya zəmanət verə bilməz ki, İstifadəçi həqiqətən təqdim
                                    edildiyi
                                    kimidir, Servisdə qeydiyyat zamanı İstifadəçi tərəfindən verilmiş informasiya
                                    isə
                                    doğrudur.
                                    <br>
                                    1.17. İstifadəçiyə bunun üçün Servisdə mümkün olan bütün alətlərdən istifadə
                                    edərək
                                    mümkün kontragentlərlə ünsiyyət saxlamağa tövsiyə edilir.
                                    <br>
                                    1.18. Administrasiya öz şəxsi mülahizəsi üzrə İstifadəçinin hazırkı Razılaşmanın
                                    şərtlərini pozan xidmətlərinə girişi dayandırmaq hüququnu öz ayağında saxlayır.
                                    <br>
                                    1.19. İstifadəçi tərəfindən başqa şəxslərin hüquqlarının və ya qüvvədə olan
                                    qanunvericiliyin pozması halında, həmçinin başqa səbəblərdən öz istədiyi kimi,
                                    Servis İstifadəçinin girişini məhdudlaşdırmaq və ya dayandırmaq hüququna
                                    malikdir.
                                    <br>
                                    1.20. İstifadəçi, hansının ki, xidmətlərə girişi dayandırılmışdır, və ya
                                    hansının
                                    ki, məlumatları etibarsızdır, Administrasiyanın xüsusi icazəsi olmadan təkrar
                                    olaraq
                                    qeydiyyatdan keçmək hüququna malik deyildir. Belə İstifadəçi həmçinin Servisə və
                                    onun xidmətlərinə giriş üçün başqa İstifadəçinin qeydiyyat məlumatlarından
                                    istifadə
                                    etmək hüquqlarına malik deyildir.
                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                     aria-labelledby="v-pills-profile-tab" tabindex="0">
                                    2.1. Administrasiya xüsusi
                                    formanın doldurandan sonra bütün qeydiyyatdan keçmiş İstifadəçilərə Servisdə
                                    elanları yerləşdirmək hüququnu verir.
                                    <br>
                                    2.2. İstifadəçi qanunvericilik və ya beynəlxalq hüququn normaları pozulması kimi
                                    baxıla bilən hərəkətləri, o cümlədən intellektual mülkiyyət, müəlliflər və/və ya
                                    yanaşı hüquqlar sahəsində, həmçinin Servisin normal işinin pozulmasına gətirib
                                    çıxaran və ya gətirib çıxara biləcək istənilən hərəkətləri, təşəbbüs etməməyə
                                    razılaşır.
                                    <br>
                                    2.3. Mallar, işlər və xidmətlər barəsində bütün sazişlər İstifadəçilər arasında
                                    birbaşa bağlanılır. Servis Servisin vasitəsi ilə İstifadəçilər tərəfindən həyata
                                    keçirilən sazişlərin iştirakçı və/və ya vasitəçisi deyildir. Administrasiya belə
                                    sazişlərə nəzarət etmir və onlara görə məsuliyyət daşımır.
                                    <br>
                                    2.4. İstifadəçinin Servisdəki şərhləri və başqa qeydləri qanunvericiliyin
                                    tələbləri
                                    və əxlaqın hamı tərəfindən qəbul edilmiş normaları ilə münaqişəyə girməməlidir.
                                    <br>
                                    2.5. İstifadəçi o haqda xəbərdarlıq edilmişdir ki, Administrasiya onun
                                    tərəfindən
                                    xarici resurslara girişə və istifadəyə görə məsuliyyət daşımır, hansılara ki,
                                    dair
                                    istinadlar Servisdə ola bilər. Administrasiya elanların məzmununa, başqa
                                    resurslara
                                    istinadlar və elanların təsvirində göstərilmiş başqa informasiyaya görə
                                    məsuliyyət
                                    daşımır.
                                    <br>
                                    2.6. İstifadəçi tərəfindən verilmiş elanları, məlumatları və informasiyanı dərc
                                    etmək hüququnun Administrasiya tərəfindən alınması məqsədi ilə İstifadəçi
                                    Administrasiyaya hər yerdə qüvvədə olan, müddətsiz, qaytarılmaz, qeyri-müstəsna
                                    istifadə, yayılma, nəşr, yığım, işlənmə, nümayiş, surət çıxarma, təkrarlama
                                    hüququnu, məlumatların, təsvirlərin, şəkillərin, video və audio materialların,
                                    məlumat bazalarının, nəşrlərin, müəllif hüquqlarının və intellektual mülkiyyət
                                    hüquqlarının, həmçinin İstifadəçi tərəfindən bütün məlum olan və ya məlum
                                    olmayan
                                    informasiya daşıyıcılarında istənilən başqa informasiyanın yenidən hasili
                                    hüququnu
                                    verir. Yuxarı sadalanmış hüquqlar Administrasiyaya pulsuz verilir. İstifadəçi
                                    Servisin bütün İstifadəçilərinə özünün tərəfindən yerləşdirilmiş informasiyaya
                                    girişə hüquq verir. Əlavə olaraq İstifadəçi Servisdə onun tərəfindən
                                    yerləşdirilmiş
                                    materiallara istənilən intellektual mülkiyyət hüquqlarına malikdir.
                                    <br>
                                    2.7. İstifadəçi tərəfindən istənilən informasiyanın və məlumatların verilməsi
                                    ilə
                                    əlaqədar olaraq üçüncü şəxslərin hüquqlarının pozulmasına görə Servis məsuliyyət
                                    daşımır.
                                    <br>
                                    2.8. Servisin istifadəçisi Servisin təlimatlarına uyğun olaraq elanları
                                    yerləşdirməyi və Mal və onun satılması şərtləri haqqında etibarlı və tam
                                    informasiyanı verməyi öhdəsinə götürür. İstifadəçi elanda göstərilmiş Mal
                                    haqqında
                                    informasiyanı yoxlamalı və, səhv və ya natamam məlumatlar aşkar edildikdə,
                                    elandakı
                                    lazımlı məlumatları düzəltməli və ya tamamlamalıdır.
                                    <br>
                                    2.9. Mal ilə elanı yerləşdirərək, İstifadəçi təsdiq edir ki, o elanda
                                    göstərilmiş
                                    hərəkətlərin belə Mal barəsində həyata keçirmək hüququna malikdir.
                                    <br>
                                    2.10. İstifadəçi təsdiq edir ki, Servisdə elanlarda informasiyanın və
                                    məlumatların
                                    yerləşdirilməsinə, bütün lazımlı hüquqlara, lisenziyalara, icazələrə malikdir,
                                    bütün
                                    patentlər, ticarət markaları, ticarət sirləri, intellektual mülkiyyət hüquqları
                                    daxil olmaqla, və ya uyğun olan yazılı razılığa, lisenziyaya və ya üçüncü
                                    şəxslərin
                                    onların adlarından, təsvirlərdən və ya başqa obyektlərdən istifadə üçün
                                    icazəsinə
                                    malikdir.
                                    <br>
                                    2.11. Servis İstifadəçidən yerləşdirilmiş Mal haqqında əlavə məlumatı və/və ya
                                    İstifadəçi tərəfindən verilmiş məlumatları təsdiqləyən sənədləşməni tələb etmək
                                    hüququna malikdir. Servis belə sənədləşmənin və ya informasiyanın verilməsinə
                                    qədər
                                    nəşri saxlamaq hüququna malikdir.
                                    <br>
                                    2.12. İstifadəçi Servisdə ona istənilən aid olan Malları, bu şərt ilə ki, bunun
                                    üçün
                                    xüsusi icazələr tələb olunmur, həmçinin istifadənin qüvvədə olan qaydalarına
                                    riayət
                                    etmə şərti ilə, satmaq hüququna malikdir.
                                    <br>
                                    2.13. Xidmətlərin yüksək keyfiyyətini dəstəkləmək üçün, Servis Servisdə
                                    İstifadəçinin aktiv elanlarının miqdarını məhdudlaşdırmaq, həmçinin Servisdə
                                    İstifadəçinin hərəkətlərini məhdudlaşdırmaq hüququnu öz ayağında saxlayır.
                                    <br>
                                    2.14. Elanda Malın İstifadəçi tərəfindən göstərilmiş təsviri bu Malın satışı
                                    şərtlərini təşkil edir.
                                    <br>
                                    2.15. Çatdırılma şərtləri elanda göstərilmiş Malın təsvirinə qoşulmalıdır.
                                    <br>
                                    2.16. Xidmətin elanda göstərilmiş göstərilməsi şərtləri və ya satış şərtləri və
                                    malın təsviri, həmçinin elanın başqa şərtləri, həm elanın yerləşdirilməsi vaxtı,
                                    həm
                                    də gələcəkdə qüvvədə olan qanunvericiliyə və hazırkı Razılaşmaya zidd
                                    olmamalıdır.
                                    Əgər elanın hər hansı şərti belə olur və ya etiraf edilir, hansı ki, qüvvədə
                                    olan
                                    qanunvericiliyə və ya hazırkı Razılaşmaya dəyişikliklərin daxil etməsi
                                    nəticəsində
                                    qanunvericiliyə və/və ya hazırkı Razılaşmaya uyğun deyil, belə şərtlər və ya
                                    belə
                                    elan İstifadəçi tərəfindən elə tamamlanmalı və ya dəyişdirilməlidir ki,
                                    istənilən
                                    uyğunsuzluqlar aradan qaldırılsın. Uyğun olan dəyişikliklərin daxil etməsinin
                                    qeyri-mümkünlüyü halında belə elan İstifadəçi tərəfindən silinməlidir. Hazırkı
                                    bənddə göstərilmiş hadisələrin yaranması vaxtı Administrasiya belə elanların
                                    düzəlişi və ya silinməsi üzrə hərəkətləri İstifadəçinin ilkin xəbərdarlığı
                                    olmadan
                                    həyata keçirmək hüququnu öz ayağında saxlayır.
                                    <br>
                                    2.17. Servisdə o elanlar qadağan edilmişdir ki, nəşri qüvvədə olan
                                    qanunvericiliyi
                                    pozur, əxlaqın hamı tərəfindən qəbul edilmiş normalarına ziddir, təhqiredicidir
                                    və
                                    ya yersizdir, həmçinin də üçüncü şəxslərin hüquqlarını pozur. İstifadəçi əmin
                                    olmalıdır ki, təklif qüvvədə olan qanunvericilik və hazırkı Razılaşmanın
                                    şərtlərini
                                    pozmur.
                                    <br>
                                    2.18. Pullu xidmətlərdən istifadə zəmanət vermir ki, elan hazırkı Razılaşmanın
                                    pozulması zamanı Administrasiya tərəfindən bloklanmayacaqdır. Elanların
                                    yerləşdirilməsi qaydalarının pozulması halında ödənmiş xidmətlərə görə pul
                                    vasitələri qaytarılmır.
                                    <br>
                                    2.19. Elanda özündə satış, istifadə haqqında təklifləri və ya mallar və
                                    xidmətlər
                                    haqqında başqa informasiyanı saxlayan internet-saytların səhifələrinə
                                    istinadları
                                    qoymaq qadağandır.
                                    <br>
                                    2.20. İstifadəçi verilən xidmətləri dəstəkləməməyi və haqqında informasiyanı
                                    yaymamağı öhdəsinə götürür:
                                    <br>
                                    2.20.1. Başqa ticarət meydançaları, internet-hərracları və/və ya internet
                                    mağazaları
                                    tərəfindən;
                                    <br>
                                    2.20.2. Servisdə həmin və ya daha az ödənişlə təqdim edilmiş malları və
                                    xidmətləri
                                    təklif edən başqa xidmətlər tərəfindən;
                                    <br>
                                    2.20.3. Servisdə satışa qadağan edilmiş malları və xidmətləri təklif edən başqa
                                    xidmətlər tərəfindən.
                                    <br>
                                    2.21. İstifadəçi Administrasiyanın yazı icazəsi olmadan Servisə girişin alınması
                                    üçün avtomatik proqramlardan istifadə etməməyi öhdəsinə götürür. Elanları
                                    yerləşdirməyə icazə verən kompüter proqramlarından istifadə elanların
                                    yerləşdirilməsinin adi sırasını keçərək, Administrasiyanın yazılı icazəsi
                                    olmadığı
                                    halda, qadağandır.
                                    <br>
                                    2.22. Bundan başqa, İstifadəçi öhdəsinə götürür:
                                    <br>
                                    2.22.1. Servisin infrastrukturunu böyük yüklənməyə gətirib çıxara bilən heç bir
                                    hərəkətə təşəbbüs etməməyi;
                                    <br>
                                    2.22.2. Administrasiyanın ilkin yazılı icazəsi olmadan Servisdə olanı istənilən
                                    informasiyanı köçürməməyi, təkrar etməməyi, dəyişdirməməyi, yaymamağı və
                                    ictimaiyyətə təqdim etməməyi;
                                    <br>
                                    2.22.3. Servisə girişə mane olmaq və ya məhdudlaşdırmaq məqsədi ilə Servisin
                                    işinə
                                    mane olmamağı, həmçinin avtomatik sistemlərin və ya proseslərin hərəkətinə mane
                                    olmamağı;
                                    <br>
                                    2.23. İstifadəçi tərəfindən verilmiş məlumatlar və onun Servisdə hərəkətləri
                                    olmamalıdır:
                                    <br>
                                    2.23.1. yanlışlıq, qeyri-dəqiqlik və ya aldatma;
                                    <br>
                                    2.23.2. dələduzluğa, aldatmağa və ya etimaddan sui-istifadəyə imkan yaratma;
                                    <br>
                                    2.23.3. oğurluq və ya saxta əşyalarla sazişlərin bağlanmasına aparma;
                                    <br>
                                    2.23.4. üçüncü şəxsin mülkiyyətini pozmaq və ya onun ticarət sirrinə və ya onun
                                    şəxsi həyatınatoxunulmazlıq hüququna qəsd etmə;
                                    <br>
                                    2.23.5. özündə kiminsə şərəfini, ləyaqətini və ya işgüzar reputasiyasını təhqir
                                    edən
                                    məlumatları saxlama;
                                    <br>
                                    2.23.6. özündə kimə qaşı olursa olsun böhtan və ya təhdidləri saxlama;
                                    <br>
                                    2.23.7. cinayətin törədilməsinə çağırma, həmçinin millətlərarası düşmənçiliyi
                                    qızışdırma;
                                    <br>
                                    2.23.8. imkan yaratmaq, dəstəkləmək və ya terror və ekstremist fəaliyyətə
                                    çağırmaq;
                                    <br>
                                    2.23.9. ədəbsizlik, və ya pornoqrafiya xarakterini daşımaq;
                                    <br>
                                    2.23.10. özündə kompüter viruslarını saxlamaq, həmçinin də başqa kompüter
                                    proqramları, xüsusi halda, ziyanın çəkilməsinə, səlahiyyətsiz müdaxiləyə, gizli
                                    ələ
                                    keçirməyə və ya istənilən sistemin məlumatlarının və ya sistemin özünün, və ya
                                    onun
                                    hissəsinin, və ya şəxsi informasiyanın və ya başqa məlumatların (Servisin
                                    məlumatları daxil olmaqla) mənimsənməsinə yönəldilmiş;
                                    <br>
                                    2.23.11. özündə reklam xarakterli materialları saxlamaq;
                                    <br>
                                    2.23.12. üçüncü şəxslərin intellektual hüquqlarını, vətəndaşın təsvirinə
                                    hüququnu və
                                    üçüncü şəxslərin başqa hüquqlarını pozmaq;
                                    <br>
                                    2.23.13. qüvvədə olan qanunvericiliyi başqa üsulla pozmaq.
                                    <br>
                                    2.24. İstifadəçiyə Servisdə elanları yerləşdirməyə, Servisdə xidmətlərdən
                                    istifadə
                                    etməklə sazişləri bağlamaq və ya icra etməyə qadağan edilir ki, Servis və/və ya
                                    İstifadəçisi tərəfindən qüvvədə olan qanunvericiliyin pozulmasına gətirib çıxara
                                    bilər.
                                    <br>
                                    2.25. Administrasiya Servisdə barəsində elan yerləşdirilmiş Malı, belə Mal
                                    barəsində
                                    elan verilməsi zamanı İstifadəçi tərəfindən göstərilmiş fərqlənən üsulla, reklam
                                    etmək hüququna malikdir.
                                    <br>
                                    2.26. Administrasiya istənilən elanın Servisdən asılı və ya müstəqil səbəblərdən
                                    nümayiş müddətlərinin yerini dəyişdirmək, dayandırmaq, bitirmək və ya uzatmaq
                                    hüququna malikdir.
                                    <br>
                                    2.27. Administrasiya istənilən vaxt istənilən elanın nümayişini, hazırkı
                                    Razılaşmada
                                    söylənmiş qaydaları pozan səbəblərdən, həmçinin də başqa İstifadəçilərin
                                    hüquqlarını
                                    pozan və ya qüvvədə olan qanunvericiliyi pozan səbəblərdən, həmçinin başqa
                                    səbəblərdən, dayandırmaq hüququna malikdir.
                                    <br>
                                    2.28. Administrasiya elanlarda düzəliş etmək, onları başqa rubrikalara keçirmək,
                                    həmçinin İstifadəçilərin elanları ilə istənilən başqa hərəkətləri etmək hüququna
                                    malikdir.
                                    <br>
                                    2.29. Administrasiya elanların yerləşdirilməsindən (nəşrindən) imtina etmək
                                    hüququna
                                    malikdir.
                                    <br>
                                    2.30. İstifadəçi qüvvədə olan qanunvericiliyə əsasən elanların məzmununa görə
                                    tam və
                                    xüsusi məsuliyyəti daşıyır.
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                     aria-labelledby="v-pills-settings-tab" tabindex="0">
                                    3.1. İstifadəçilər Servisdə
                                    pullu xidmətləri sifariş edə bilərlər.
                                    <br>
                                    3.2. Pullu xidmətlərin növləri:
                                    <br>
                                    A. VİP elan
                                    <br>
                                    B. Premium elan
                                    <br>
                                    3.3. Xidmətlərə qiymətlər, həmçinin ödənişli xidmətlərin sifariş qaydası
                                    Servisin
                                    müvafiq səhifələrində göstərilmişdir.
                                    <br>
                                    3.4. Servisin xidmətlərini ödəmiş Servis İstifadəçisi vasitələrin qaytarılması
                                    xahişi ilə Administrasiyaya müraciət etmək hüququna malikdir. Pul vasitələrinin
                                    qaytarılmasında qaytarılma və ya imtina haqqında qərar birtərəfli qayda ilə
                                    Administrasiya tərəfindən qəbul edilir.
                                    <br>
                                    3.5. Administrasiya aşağıda göstərilən hallarda pul vasitələrinin İstifadəçiyə
                                    qaytarılmasından imtina edə bilər:
                                    <br>
                                    3.5.1. İstifadəçi hazırkı Razılaşmanın şərtlərini müntəzəm pozursa.
                                    <br>
                                    3.5.2. Əgər xidmət aktivləşdirilmişdir, həmçinin hallarda, əgər elan
                                    moderasiyadan
                                    sonra silinmişdirsə.
                                    <br>
                                    3.5.3.İstifadəçi qadağan edilmiş mallar, xidmətlər və təkliflər haqqında elanı
                                    yerləşdirmişdirsə.
                                    <br>
                                    3.5.4. Ödəmə sistemində hər hansı nasazlıqların yaranması halında. Servis
                                    İstifadəçilərin vasitəsilə Servis xidmətlərini ödəyən ödəmə sistemlərinin işinə
                                    görə
                                    məsuliyyət daşımır. Pul vasitələrinin bu halda qaytarılması haqqında məsələ
                                    fərdi
                                    qaydada həll edilir.
                                    <br>
                                    3.5.5. Digər hallarda Administrasiyanın qərarı üzrə.
                                    <br>
                                    3.6. Pul vəsaitlərin qaytarılma qaydası Administrasiya və İstifadəçi arasında
                                    hər
                                    konkret hal üçün müəyyən edilir.
                                    <br>
                                    3.7. Geri qaytarılmalı olan pul vəsaitləri 30 gün ərzində istifadəçinin hesabına
                                    köçürüləcək.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  userTerm  End -->


</main>


